

 <style>

.container {
  height: 200px;
  position: relative;
  border: 3px solid green; 
}

.vertical {
  padding-top: 30%;
  padding-bottom: 30px;
}

.texto-corpo {
	padding-left: 10%;
	padding-right: 10%;
	color: #cccccc;
}

.texto-corpo a {
	text-decoration: underline dotted #3C3C3C;
	color: white;
}

.texto-corpo #lista-vertical li {
	display: block;
}

a {
	text-decoration: none;
	color: #B9B9B9;
}

a:hover {
	opacity: 1;
	color: #8864DD;
	transition: 1000ms;
}

ul {
  list-style: none;
}

ul li {
	display: inline;
  margin-right: 20px;
}

ul li::before {
  content: "\27D3";
  color: white;
  font-weight: normal;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-right: 0.35em;
}

	* {background-color: #222222}
	* {font-family: monospace}

h1.cab1 {
	font-weight: normal;
	color: #cc0000; !important
	font-size: 25px;
	text-align: center;
}

h2.cab2 {
	font-weight: bold;
	color: #cc0000;
	font-size: 15px;
	text-align: center;
}

h3.cab3 {
	font-weight: bold;
	color: #cc0000;
	font-size: 13px;
	text-align: left;
}

#nome, #desc {
	text-align: center;
	font-size: 18px;
	opacity: 50%;
	transition: 1000ms;
	color: #B9B9B9
}

.sym {
	text-align: center;
	font-size: 18px;
	opacity: 50%;
	transition: 1000ms;
	color: #B9B9B9
}

.sym:hover {
	opacity: 1;
	color: #713ce4;
}

em {
	color: #B9B9B9
}

pre {
	color: #B9B9B9
}

p.padrao {
	color: #B9B9B9
}

p.data {
	font-size: 13px;
	text-align: right;
	color: #3C3C3C
}

.tw {
  text-align: justify;
  /*display: inline-block;*/
  position: relative;
  padding-left: 46%;
  width: 90px;
}

/* código abaixo por Geoff Graham, css-tricks.com  */

.typewriter {
  color: #3C3C3C;
  overflow: hidden; 
  border-right: .65em solid #713ce4;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* scrolling effect as the typing happens */
  letter-spacing: .35em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(8, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #713ce4; }
}

.typewriter-estatico {
  color: #3C3C3C;
  overflow: hidden; 
  border-right: .65em solid #713ce4;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* scrolling effect as the typing happens */
  letter-spacing: .35em; /* Adjust as needed */
}

</style>

