/* Alteração na DIV Topo 

seletor {propriedade:valor;}

*/

	@font-face {
	  font-family: PerfectDOS;
	  src: url(../fonts/PerfectDOS.ttf);
	}

	@font-face {
	  font-family: superstar;
	  src: url(../fonts/superstar.ttf);
	}

body {
	background-color:;
}

.titulo h1 {
	font-family: PerfectDOS;
	font-size: 200%;
	text-align: center;
}

.menu-item {
	font-size: 0.9em;
	margin: 0 0.5em 0.5em 2em;
	color: #000000;
	text-decoration: none;
	font-family: superstar;
}

@media (min-width:400px){
.menu {
	padding-top: 20px;
	font-family: sans-serif;
}

.menu-item a {
	float: center;
    white-space: nowrap;
}

.menu-item:hover {
	font-weight: bold;
} 

.menu ul {
	list-style-type: none;
	height: 40px;
	/* width: 100%;
	margin: auto; */
}

.menu li {
	/* text-align: center; */
	position: relative;
}

.titulo h1 {
	margin-top: 200px;
}

}

@media (max-width:400px){

.menu ul {
	margin-top: 20px;
}

.menu li {
	text-align: center;
	position: relative;
}

.titulo h1 {
	margin-top: 100px;
}

}

#dados {
	margin-top: 20px;
	text-align: center;
}

#saida {
	font-size: 2em;
	color: #000000;
	text-decoration: none;
	font-family: superstar;
	margin-bottom: 10px;
}

#saida2 {
	font-size: 0.9em;
	color: #000000;
	text-decoration: none;
	font-family: monospace;
}

.botoes {
	margin-bottom: 20px;
	font-family: superstar;
	background: #FFFFFF;
	border-color: #000000;
}